In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("Car_sales.csv")

In [3]:
df.drop('Latest_Launch',axis = 1,inplace= True)

In [4]:
df.head()

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,62.777639

In [5]:
df = df.fillna(value = df['Price_in_thousands'].mean())

In [6]:
df

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
0,Acura,Integra,16.919,16.360000,Passenger,21.500000,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,58.280150
1,Acura,TL,39.384,19.875000,Passenger,28.400000,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,91.370778
2,Acura,CL,14.114,18.225000,Passenger,27.390755,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,27.390755
3,Acura,RL,8.588,29.725000,Passenger,42.000000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,91.389779
4,Audi,A4,20.397,22.255000,Passenger,23.990000,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,27.390755,Passenger,24.400000,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,66.498812
153,Volvo,S70,15.245,27.390755,Passenger,27.500000,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,70.654495
154,Volvo,V70,17.531,27.390755,Passenger,28.800000,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,71.155978
155,Volvo,C70,3.493,27.390755,Passenger,45.500000,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,101.623357
156,Volvo,S80,18.969,27.390755,Passenger,36.000000,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,85.735655

In [7]:
df.shape

(157, 15)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales_in_thousands   157 non-null    float64
 3   __year_resale_value  157 non-null    float64
 4   Vehicle_type         157 non-null    object
 5   Price_in_thousands   157 non-null    float64
 6   Engine_size          157 non-null    float64
 7   Horsepower           157 non-null    float64
 8   Wheelbase            157 non-null    float64
 9   Width                157 non-null    float64
 10  Length               157 non-null    float64
 11  Curb_weight          157 non-null    float64
 12  Fuel_capacity        157 non-null    float64
 13  Fuel_efficiency      157 non-null    float64
 14  Power_perf_factor    157 non-null    float64
dtypes: float64(12), object(3)
memory usage: 18.5+ KB

In [9]:
df.isnull().sum()

Manufacturer           0
Model                  0
Sales_in_thousands     0
__year_resale_value    0
Vehicle_type           0
Price_in_thousands     0
Engine_size            0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb_weight            0
Fuel_capacity          0
Fuel_efficiency        0
Power_perf_factor      0
dtype: int64

In [10]:
df.head(50)

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
0,Acura,Integra,16.919,16.360000,Passenger,21.500000,1.800000,140.000000,101.200000,67.300000,172.400000,2.639000,13.200000,28.000000,58.280150
1,Acura,TL,39.384,19.875000,Passenger,28.400000,3.200000,225.000000,108.100000,70.300000,192.900000,3.517000,17.200000,25.000000,91.370778
2,Acura,CL,14.114,18.225000,Passenger,27.390755,3.200000,225.000000,106.900000,70.600000,192.000000,3.470000,17.200000,26.000000,27.390755
3,Acura,RL,8.588,29.725000,Passenger,42.000000,3.500000,210.000000,114.600000,71.400000,196.600000,3.850000,18.000000,22.000000,91.389779
4,Audi,A4,20.397,22.255000,Passenger,23.990000,1.800000,150.000000,102.600000,68.200000,178.000000,2.998000,16.400000,27.000000,62.777639
5,Audi,A6,18.780,23.555000,Passenger,33.950000,2.800000,200.000000,108.700000,76.100000,192.000000,3.561000,18.500000,22.000000,84.565105
6,Audi,A8,1.380,39.000000,Passenger,62.000000,4.200000,310.000000,113.000000,74.000000,198.200000,3.902000,23.700000,21.000000,134.656858
7,BMW,323i,19.747,27.390755,Passenger,26.990000,2.500000,170.000000,107.300000,68.400000,176.000000,3.179000,16.600000,26.000000,71.191207
8,BMW,328i,9.231,28.675000,Passenger,33.400000,2.800000,193.000000,107.300000,68.500000,176.000000,3.197000,16.600000,24.000000,81.877069
9,BMW,528i,17.527,36.125000,Passenger,38.900000,2.800000,193.000000,111.400000,70.900000,188.000000,3.472000,18.500000,25.000000,83.998724
10,Buick,Century,91.561,12.475000,Passenger,21.975000,3.100000,175.000000,109.000000,72.700000,194.600000,3.368000,17.500000,25.000000,71.181451
11,Buick,Regal,39.350,13.740000,Passenger,25.300000,3.800000,240.000000,109.000000,72.700000,196.200000,3.543000,17.500000,23.000000,95.636703
12,Buick,Park Avenue,27.851,20.190000,Passenger,31.965000,3.800000,205.000000,113.800000,74.700000,206.800000,3.778000,18.500000,24.000000,85.828408
13,Buick,LeSabre,83.257,13.360000,Passenger,27.885000,3.800000,205.000000,112.200000,73.500000,200.000000,3.591000,17.500000,25.000000,84.254526
14,Cadillac,DeVille,63.729,22.525000,Passenger,39.895000,4.600000,275.000000,115.300000,74.500000,207.200000,3.978000,18.500000,22.000000,113.854598
15,Cadillac,Seville,15.943,27.100000,Passenger,44.475000,4.600000,275.000000,112.200000,75.000000,201.000000,27.390755,18.500000,22.000000,115.621358
16,Cadillac,Eldorado,6.536,25.725000,Passenger,39.665000,4.600000,275.000000,108.000000,75.500000,200.600000,3.843000,19.000000,22.000000,113.765874
17,Cadillac,Catera,11.185,18.225000,Passenger,31.010000,3.000000,200.000000,107.400000,70.300000,194.800000,3.770000,18.000000,22.000000,83.483094
18,Cadillac,Escalade,14.785,27.390755,Car,46.225000,5.700000,255.000000,117.500000,77.000000,201.200000,5.572000,30.000000,15.000000,109.509117
19,Chevrolet,Cavalier,145.519,9.250000,Passenger,13.260000,2.200000,115.000000,104.100000,67.900000,180.900000,2.676000,14.300000,27.000000,46.363347
20,Chevrolet,Malibu,135.126,11.225000,Passenger,16.535000,3.100000,170.000000,107.000000,69.400000,190.400000,3.051000,15.000000,25.000000,67.314462
21,Chevrolet,Lumina,24.629,10.310000,Passenger,18.890000,3.100000,175.000000,107.500000,72.500000,200.900000,3.330000,16.600000,25.000000,69.991396
22,Chevrolet,Monte Carlo,42.593,11.525000,Passenger,19.390000,3.400000,180.000000,110.500000,72.700000,197.900000,3.340000,17.000000,27.000000,72.030917
23,Chevrolet,Camaro,26.402,13.025000,Passenger,24.340000,3.800000,200.000000,101.100000,74.100000,193.200000,3.500000,16.800000,25.000000,81.118543
24,Chevrolet,Corvette,17.947,36.225000,Passenger,45.705000,5.700000,345.000000,104.500000,73.600000,179.700000,3.210000,19.100000,22.000000,141.141150
25,Chevrolet,Prizm,32.299,9.125000,Passenger,13.960000,1.800000,120.000000,97.100000,66.700000,174.300000,2.398000,13.200000,33.000000,48.297636
26,Chevrolet,Metro,21.855,5.160000,Passenger,9.235000,1.000000,55.000000,93.100000,62.600000,149.400000,1.895000,10.300000,45.000000,23.276272
27,Chevrolet,Impala,107.995,27.390755,Passenger,18.890000,3.400000,180.000000,110.500000,73.000000,200.000000,3.389000,17.000000,27.000000,71.838039
28,Chrysler,Sebring Coupe,7.854,12.360000,Passenger,19.840000,2.500000,163.000000,103.700000,69.700000,190.900000,2.967000,15.900000,24.000000,65.957184
29,Chrysler,Sebring Conv.,32.775,14.180000,Passenger,24.495000,2.500000,168.000000,106.000000,69.200000,193.000000,3.332000,16.000000,24.000000,69.521355
30,Chrysler,Concorde,31.148,13.725000,Passenger,22.245000,2.700000,200.000000,113.000000,74.400000,209.100000,3.452000,17.000000,26.000000,80.023782
31,Chrysler,Cirrus,32.306,12.640000,Passenger,16.480000,2.000000,132.000000,108.000000,71.000000,186.000000,2.911000,16.000000,27.000000,53.566200
32,Chrysler,LHS,13.462,17.325000,Passenger,28.340000,3.500000,253.000000,113.000000,74.400000,207.700000,3.564000,17.000000,23.000000,101.329281
33,Chrysler,Town & Country,53.480,19.540000,Car,27.390755,27.390755,27.390755,27.390755,27.390755,27.390755,27.390755,27.390755,27.390755,27.390755
34,Chrysler,300M,30.696,27.390755,Passenger,29.185000,3.500000,253.000000,113.000000,74.400000,197.800000,3.567000,17.000000,23.000000,101.655244
35,Dodge,Neon,76.034,7.750000,Passenger,12.640000,2.000000,132.000000,105.000000,74.400000,174.400000,2.567000,12.500000,29.000000,52.084899
36,Dodge,Avenger,4.734,12.545000,Passenger,19.045000,2.500000,163.000000,103.700000,69.100000,190.200000,2.879000,15.900000,24.000000,65.650508
37,Dodge,Stratus,71.186,10.185000,Passenger,20.230000,2.500000,168.000000,108.000000,71.000000,186.000000,3.058000,16.000000,24.000000,67.876108
38,Dodge,Intrepid,88.028,12.275000,Passenger,22.505000,2.700000,202.000000,113.000000,74.700000,203.700000,3.489000,17.000000,27.390755,80.831470
39,Dodge,Viper,0.916,58.470000,Passenger,69.725000,8.000000,450.000000,96.200000,75.700000,176.700000,3.375000,19.000000,16.000000,188.144323
40,Dodge,Ram Pickup,227.061,15.060000,Car,19.460000,5.200000,230.000000,138.700000,79.300000,224.200000,4.470000,26.000000,17.000000,90.211700
41,Dodge,Ram Wagon,16.767,15.510000,Car,21.315000,3.900000,175.000000,109.600000,78.800000,192.600000,4.245000,32.000000,15.000000,71.135292
42,Dodge,Ram Van,31.038,13.425000,Car,18.575000,3.900000,175.000000,127.200000,78.800000,208.500000,4.298000,32.000000,16.000000,70.078322
43,Dodge,Dakota,111.313,11.260000,Car,16.980000,2.500000,120.000000,131.000000,71.500000,215.000000,3.557000,22.000000,19.000000,49.645002
44,Dodge,Durango,101.323,27.390755,Car,26.310000,5.200000,230.000000,115.700000,71.700000,193.500000,4.394000,25.000000,17.000000,92.854125
45,Dodge,Caravan,181.749,12.025000,Car,19.565000,2.400000,150.000000,113.300000,76.800000,186.300000,3.533000,20.000000,24.000000,61.227000
46,Ford,Escort,70.227,7.425000,Passenger,12.070000,2.000000,110.000000,98.400000,67.000000,174.700000,2.468000,12.700000,30.000000,44.083709
47,Ford,Mustang,113.369,12.760000,Passenger,21.560000,3.800000,190.000000,101.300000,73.100000,183.200000,3.203000,15.700000,24.000000,76.509185
48,Ford,Contour,35.068,8.835000,Passenger,17.035000,2.500000,170.000000,106.500000,69.100000,184.600000,2.769000,15.000000,25.000000,67.351011
49,Ford,Taurus,245.815,10.055000,Passenger,17.885000,3.000000,155.000000,108.500000,73.000000,197.600000,3.368000,16.000000,24.000000,62.503740

In [11]:
df["Manufacturer"] = df["Manufacturer"].astype("category")

In [12]:
df.dtypes

Manufacturer           category
Model                    object
Sales_in_thousands      float64
__year_resale_value     float64
Vehicle_type             object
Price_in_thousands      float64
Engine_size             float64
Horsepower              float64
Wheelbase               float64
Width                   float64
Length                  float64
Curb_weight             float64
Fuel_capacity           float64
Fuel_efficiency         float64
Power_perf_factor       float64
dtype: object

In [13]:
df["Manufacturer"] = df["Manufacturer"].cat.codes
df.head()

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
0,0,Integra,16.919,16.360,Passenger,21.500000,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,58.280150
1,0,TL,39.384,19.875,Passenger,28.400000,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,91.370778
2,0,CL,14.114,18.225,Passenger,27.390755,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,27.390755
3,0,RL,8.588,29.725,Passenger,42.000000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,91.389779
4,1,A4,20.397,22.255,Passenger,23.990000,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,62.777639

In [14]:
df["Model"] = df["Model"].astype("category")
df["Vehicle_type"] = df["Vehicle_type"].astype("category")

In [15]:
df["Model"] = df["Model"].cat.codes
df["Vehicle_type"] = df["Vehicle_type"].cat.codes
df.head()

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
0,0,79,16.919,16.360,1,21.500000,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,58.280150
1,0,143,39.384,19.875,1,28.400000,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,91.370778
2,0,25,14.114,18.225,1,27.390755,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,27.390755
3,0,115,8.588,29.725,1,42.000000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,91.389779
4,1,8,20.397,22.255,1,23.990000,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,62.777639

In [16]:
x = df.loc[:, ['Manufacturer', "Model", "Sales_in_thousands", "__year_resale_value", "Vehicle_type", "Engine_size", "Horsepower","Wheelbase","Width","Length","Curb_weight","Fuel_capacity","Fuel_efficiency","Power_perf_factor"]]

In [17]:
x

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
0,0,79,16.919,16.360000,1,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,58.280150
1,0,143,39.384,19.875000,1,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,91.370778
2,0,25,14.114,18.225000,1,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,27.390755
3,0,115,8.588,29.725000,1,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,91.389779
4,1,8,20.397,22.255000,1,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,29,148,3.545,27.390755,1,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,66.498812
153,29,125,15.245,27.390755,1,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,70.654495
154,29,149,17.531,27.390755,1,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,71.155978
155,29,24,3.493,27.390755,1,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,101.623357
156,29,126,18.969,27.390755,1,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,85.735655

In [18]:
y = df.loc[:,['Price_in_thousands']]

In [19]:
y

     Price_in_thousands
0             21.500000
1             28.400000
2             27.390755
3             42.000000
4             23.990000
..                  ...
152           24.400000
153           27.500000
154           28.800000
155           45.500000
156           36.000000

[157 rows x 1 columns]

In [20]:
y.shape

(157, 1)

In [21]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [22]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 10)

In [23]:
model = LinearRegression()

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    int8
 1   Model                157 non-null    int16
 2   Sales_in_thousands   157 non-null    float64
 3   __year_resale_value  157 non-null    float64
 4   Vehicle_type         157 non-null    int8
 5   Price_in_thousands   157 non-null    float64
 6   Engine_size          157 non-null    float64
 7   Horsepower           157 non-null    float64
 8   Wheelbase            157 non-null    float64
 9   Width                157 non-null    float64
 10  Length               157 non-null    float64
 11  Curb_weight          157 non-null    float64
 12  Fuel_capacity        157 non-null    float64
 13  Fuel_efficiency      157 non-null    float64
 14  Power_perf_factor    157 non-null    float64
dtypes: float64(12), int16(1), int8(2)
memory usage: 15.5 KB

In [25]:
model.fit(x_train,y_train)

LinearRegression()

In [26]:
df

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
0,0,79,16.919,16.360000,1,21.500000,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,58.280150
1,0,143,39.384,19.875000,1,28.400000,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,91.370778
2,0,25,14.114,18.225000,1,27.390755,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,27.390755
3,0,115,8.588,29.725000,1,42.000000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,91.389779
4,1,8,20.397,22.255000,1,23.990000,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,29,148,3.545,27.390755,1,24.400000,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,66.498812
153,29,125,15.245,27.390755,1,27.500000,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,70.654495
154,29,149,17.531,27.390755,1,28.800000,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,71.155978
155,29,24,3.493,27.390755,1,45.500000,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,101.623357
156,29,126,18.969,27.390755,1,36.000000,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,85.735655

In [27]:
y_prediction = model.predict(x_test)

In [28]:
from sklearn.metrics import r2_score

In [29]:
r2_score(y_test, y_prediction)

0.7207211685318127

In [30]:
import pickle

In [31]:
file = open("model.pkl", "wb")

In [32]:
pickle.dump(model,file)

In [33]:
file.close()