In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("Car_sales.csv")

In [3]:
df.drop('Latest_Launch',axis = 1,inplace= True)

In [4]:
df = pd.get_dummies(df,drop_first = True)

In [5]:
df.head()

,Sales_in_thousands,__year_resale_value,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,...,Model_Town car,Model_V40,Model_V70,Model_Villager,Model_Viper,Model_Voyager,Model_Windstar,Model_Wrangler,Model_Xterra,Vehicle_type_Passenger
0,16.919,16.360,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,...,0,0,0,0,0,0,0,0,0,1
1,39.384,19.875,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,...,0,0,0,0,0,0,0,0,0,1
2,14.114,18.225,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,...,0,0,0,0,0,0,0,0,0,1
3,8.588,29.725,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,...,0,0,0,0,0,0,0,0,0,1
4,20.397,22.255,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,...,0,0,0,0,0,0,0,0,0,1

In [6]:
df = df.fillna(value = df['Price_in_thousands'].mean())

In [7]:
df

,Sales_in_thousands,__year_resale_value,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,...,Model_Town car,Model_V40,Model_V70,Model_Villager,Model_Viper,Model_Voyager,Model_Windstar,Model_Wrangler,Model_Xterra,Vehicle_type_Passenger
0,16.919,16.360000,21.500000,1.8,140.0,101.2,67.3,172.4,2.639,13.2,...,0,0,0,0,0,0,0,0,0,1
1,39.384,19.875000,28.400000,3.2,225.0,108.1,70.3,192.9,3.517,17.2,...,0,0,0,0,0,0,0,0,0,1
2,14.114,18.225000,27.390755,3.2,225.0,106.9,70.6,192.0,3.470,17.2,...,0,0,0,0,0,0,0,0,0,1
3,8.588,29.725000,42.000000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,...,0,0,0,0,0,0,0,0,0,1
4,20.397,22.255000,23.990000,1.8,150.0,102.6,68.2,178.0,2.998,16.4,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,3.545,27.390755,24.400000,1.9,160.0,100.5,67.6,176.6,3.042,15.8,...,0,1,0,0,0,0,0,0,0,1
153,15.245,27.390755,27.500000,2.4,168.0,104.9,69.3,185.9,3.208,17.9,...,0,0,0,0,0,0,0,0,0,1
154,17.531,27.390755,28.800000,2.4,168.0,104.9,69.3,186.2,3.259,17.9,...,0,0,1,0,0,0,0,0,0,1
155,3.493,27.390755,45.500000,2.3,236.0,104.9,71.5,185.7,3.601,18.5,...,0,0,0,0,0,0,0,0,0,1
156,18.969,27.390755,36.000000,2.9,201.0,109.9,72.1,189.8,3.600,21.1,...,0,0,0,0,0,0,0,0,0,1

In [8]:
df.shape

(157, 197)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Columns: 197 entries, Sales_in_thousands to Vehicle_type_Passenger
dtypes: float64(12), uint8(185)
memory usage: 43.2 KB

In [10]:
df.isnull().sum()

Sales_in_thousands        0
__year_resale_value       0
Price_in_thousands        0
Engine_size               0
Horsepower                0
                         ..
Model_Voyager             0
Model_Windstar            0
Model_Wrangler            0
Model_Xterra              0
Vehicle_type_Passenger    0
Length: 197, dtype: int64

In [11]:
df.head(50)

,Sales_in_thousands,__year_resale_value,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,...,Model_Town car,Model_V40,Model_V70,Model_Villager,Model_Viper,Model_Voyager,Model_Windstar,Model_Wrangler,Model_Xterra,Vehicle_type_Passenger
0,16.919,16.360000,21.500000,1.800000,140.000000,101.200000,67.300000,172.400000,2.639000,13.200000,...,0,0,0,0,0,0,0,0,0,1
1,39.384,19.875000,28.400000,3.200000,225.000000,108.100000,70.300000,192.900000,3.517000,17.200000,...,0,0,0,0,0,0,0,0,0,1
2,14.114,18.225000,27.390755,3.200000,225.000000,106.900000,70.600000,192.000000,3.470000,17.200000,...,0,0,0,0,0,0,0,0,0,1
3,8.588,29.725000,42.000000,3.500000,210.000000,114.600000,71.400000,196.600000,3.850000,18.000000,...,0,0,0,0,0,0,0,0,0,1
4,20.397,22.255000,23.990000,1.800000,150.000000,102.600000,68.200000,178.000000,2.998000,16.400000,...,0,0,0,0,0,0,0,0,0,1
5,18.780,23.555000,33.950000,2.800000,200.000000,108.700000,76.100000,192.000000,3.561000,18.500000,...,0,0,0,0,0,0,0,0,0,1
6,1.380,39.000000,62.000000,4.200000,310.000000,113.000000,74.000000,198.200000,3.902000,23.700000,...,0,0,0,0,0,0,0,0,0,1
7,19.747,27.390755,26.990000,2.500000,170.000000,107.300000,68.400000,176.000000,3.179000,16.600000,...,0,0,0,0,0,0,0,0,0,1
8,9.231,28.675000,33.400000,2.800000,193.000000,107.300000,68.500000,176.000000,3.197000,16.600000,...,0,0,0,0,0,0,0,0,0,1
9,17.527,36.125000,38.900000,2.800000,193.000000,111.400000,70.900000,188.000000,3.472000,18.500000,...,0,0,0,0,0,0,0,0,0,1
10,91.561,12.475000,21.975000,3.100000,175.000000,109.000000,72.700000,194.600000,3.368000,17.500000,...,0,0,0,0,0,0,0,0,0,1
11,39.350,13.740000,25.300000,3.800000,240.000000,109.000000,72.700000,196.200000,3.543000,17.500000,...,0,0,0,0,0,0,0,0,0,1
12,27.851,20.190000,31.965000,3.800000,205.000000,113.800000,74.700000,206.800000,3.778000,18.500000,...,0,0,0,0,0,0,0,0,0,1
13,83.257,13.360000,27.885000,3.800000,205.000000,112.200000,73.500000,200.000000,3.591000,17.500000,...,0,0,0,0,0,0,0,0,0,1
14,63.729,22.525000,39.895000,4.600000,275.000000,115.300000,74.500000,207.200000,3.978000,18.500000,...,0,0,0,0,0,0,0,0,0,1
15,15.943,27.100000,44.475000,4.600000,275.000000,112.200000,75.000000,201.000000,27.390755,18.500000,...,0,0,0,0,0,0,0,0,0,1
16,6.536,25.725000,39.665000,4.600000,275.000000,108.000000,75.500000,200.600000,3.843000,19.000000,...,0,0,0,0,0,0,0,0,0,1
17,11.185,18.225000,31.010000,3.000000,200.000000,107.400000,70.300000,194.800000,3.770000,18.000000,...,0,0,0,0,0,0,0,0,0,1
18,14.785,27.390755,46.225000,5.700000,255.000000,117.500000,77.000000,201.200000,5.572000,30.000000,...,0,0,0,0,0,0,0,0,0,0
19,145.519,9.250000,13.260000,2.200000,115.000000,104.100000,67.900000,180.900000,2.676000,14.300000,...,0,0,0,0,0,0,0,0,0,1
20,135.126,11.225000,16.535000,3.100000,170.000000,107.000000,69.400000,190.400000,3.051000,15.000000,...,0,0,0,0,0,0,0,0,0,1
21,24.629,10.310000,18.890000,3.100000,175.000000,107.500000,72.500000,200.900000,3.330000,16.600000,...,0,0,0,0,0,0,0,0,0,1
22,42.593,11.525000,19.390000,3.400000,180.000000,110.500000,72.700000,197.900000,3.340000,17.000000,...,0,0,0,0,0,0,0,0,0,1
23,26.402,13.025000,24.340000,3.800000,200.000000,101.100000,74.100000,193.200000,3.500000,16.800000,...,0,0,0,0,0,0,0,0,0,1
24,17.947,36.225000,45.705000,5.700000,345.000000,104.500000,73.600000,179.700000,3.210000,19.100000,...,0,0,0,0,0,0,0,0,0,1
25,32.299,9.125000,13.960000,1.800000,120.000000,97.100000,66.700000,174.300000,2.398000,13.200000,...,0,0,0,0,0,0,0,0,0,1
26,21.855,5.160000,9.235000,1.000000,55.000000,93.100000,62.600000,149.400000,1.895000,10.300000,...,0,0,0,0,0,0,0,0,0,1
27,107.995,27.390755,18.890000,3.400000,180.000000,110.500000,73.000000,200.000000,3.389000,17.000000,...,0,0,0,0,0,0,0,0,0,1
28,7.854,12.360000,19.840000,2.500000,163.000000,103.700000,69.700000,190.900000,2.967000,15.900000,...,0,0,0,0,0,0,0,0,0,1
29,32.775,14.180000,24.495000,2.500000,168.000000,106.000000,69.200000,193.000000,3.332000,16.000000,...,0,0,0,0,0,0,0,0,0,1
30,31.148,13.725000,22.245000,2.700000,200.000000,113.000000,74.400000,209.100000,3.452000,17.000000,...,0,0,0,0,0,0,0,0,0,1
31,32.306,12.640000,16.480000,2.000000,132.000000,108.000000,71.000000,186.000000,2.911000,16.000000,...,0,0,0,0,0,0,0,0,0,1
32,13.462,17.325000,28.340000,3.500000,253.000000,113.000000,74.400000,207.700000,3.564000,17.000000,...,0,0,0,0,0,0,0,0,0,1
33,53.480,19.540000,27.390755,27.390755,27.390755,27.390755,27.390755,27.390755,27.390755,27.390755,...,0,0,0,0,0,0,0,0,0,0
34,30.696,27.390755,29.185000,3.500000,253.000000,113.000000,74.400000,197.800000,3.567000,17.000000,...,0,0,0,0,0,0,0,0,0,1
35,76.034,7.750000,12.640000,2.000000,132.000000,105.000000,74.400000,174.400000,2.567000,12.500000,...,0,0,0,0,0,0,0,0,0,1
36,4.734,12.545000,19.045000,2.500000,163.000000,103.700000,69.100000,190.200000,2.879000,15.900000,...,0,0,0,0,0,0,0,0,0,1
37,71.186,10.185000,20.230000,2.500000,168.000000,108.000000,71.000000,186.000000,3.058000,16.000000,...,0,0,0,0,0,0,0,0,0,1
38,88.028,12.275000,22.505000,2.700000,202.000000,113.000000,74.700000,203.700000,3.489000,17.000000,...,0,0,0,0,0,0,0,0,0,1
39,0.916,58.470000,69.725000,8.000000,450.000000,96.200000,75.700000,176.700000,3.375000,19.000000,...,0,0,0,0,1,0,0,0,0,1
40,227.061,15.060000,19.460000,5.200000,230.000000,138.700000,79.300000,224.200000,4.470000,26.000000,...,0,0,0,0,0,0,0,0,0,0
41,16.767,15.510000,21.315000,3.900000,175.000000,109.600000,78.800000,192.600000,4.245000,32.000000,...,0,0,0,0,0,0,0,0,0,0
42,31.038,13.425000,18.575000,3.900000,175.000000,127.200000,78.800000,208.500000,4.298000,32.000000,...,0,0,0,0,0,0,0,0,0,0
43,111.313,11.260000,16.980000,2.500000,120.000000,131.000000,71.500000,215.000000,3.557000,22.000000,...,0,0,0,0,0,0,0,0,0,0
44,101.323,27.390755,26.310000,5.200000,230.000000,115.700000,71.700000,193.500000,4.394000,25.000000,...,0,0,0,0,0,0,0,0,0,0
45,181.749,12.025000,19.565000,2.400000,150.000000,113.300000,76.800000,186.300000,3.533000,20.000000,...,0,0,0,0,0,0,0,0,0,0
46,70.227,7.425000,12.070000,2.000000,110.000000,98.400000,67.000000,174.700000,2.468000,12.700000,...,0,0,0,0,0,0,0,0,0,1
47,113.369,12.760000,21.560000,3.800000,190.000000,101.300000,73.100000,183.200000,3.203000,15.700000,...,0,0,0,0,0,0,0,0,0,1
48,35.068,8.835000,17.035000,2.500000,170.000000,106.500000,69.100000,184.600000,2.769000,15.000000,...,0,0,0,0,0,0,0,0,0,1
49,245.815,10.055000,17.885000,3.000000,155.000000,108.500000,73.000000,197.600000,3.368000,16.000000,...,0,0,0,0,0,0,0,0,0,1

In [12]:
df.dtypes

Sales_in_thousands        float64
__year_resale_value       float64
Price_in_thousands        float64
Engine_size               float64
Horsepower                float64
                           ...
Model_Voyager               uint8
Model_Windstar              uint8
Model_Wrangler              uint8
Model_Xterra                uint8
Vehicle_type_Passenger      uint8
Length: 197, dtype: object

In [13]:
x = df.loc[:, ['Sales_in_thousands','__year_resale_value','Engine_size','Horsepower','Wheelbase','Width','Length','Curb_weight','Fuel_capacity','Model_Town car','Model_V40','Model_V70','Model_Villager','Model_Viper','Model_Voyager','Model_Windstar','Model_Wrangler','Model_Xterra','Vehicle_type_Passenger']]

In [17]:
x

,Sales_in_thousands,__year_resale_value,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Model_Town car,Model_V40,Model_V70,Model_Villager,Model_Viper,Model_Voyager,Model_Windstar,Model_Wrangler,Model_Xterra,Vehicle_type_Passenger
0,16.919,16.360000,1.8,140.0,101.2,67.3,172.4,2.639,13.2,0,0,0,0,0,0,0,0,0,1
1,39.384,19.875000,3.2,225.0,108.1,70.3,192.9,3.517,17.2,0,0,0,0,0,0,0,0,0,1
2,14.114,18.225000,3.2,225.0,106.9,70.6,192.0,3.470,17.2,0,0,0,0,0,0,0,0,0,1
3,8.588,29.725000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,0,0,0,0,0,0,0,0,0,1
4,20.397,22.255000,1.8,150.0,102.6,68.2,178.0,2.998,16.4,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,3.545,27.390755,1.9,160.0,100.5,67.6,176.6,3.042,15.8,0,1,0,0,0,0,0,0,0,1
153,15.245,27.390755,2.4,168.0,104.9,69.3,185.9,3.208,17.9,0,0,0,0,0,0,0,0,0,1
154,17.531,27.390755,2.4,168.0,104.9,69.3,186.2,3.259,17.9,0,0,1,0,0,0,0,0,0,1
155,3.493,27.390755,2.3,236.0,104.9,71.5,185.7,3.601,18.5,0,0,0,0,0,0,0,0,0,1
156,18.969,27.390755,2.9,201.0,109.9,72.1,189.8,3.600,21.1,0,0,0,0,0,0,0,0,0,1

In [20]:
y = df.loc[:,['Price_in_thousands']]

In [21]:
y

     Price_in_thousands
0             21.500000
1             28.400000
2             27.390755
3             42.000000
4             23.990000
..                  ...
152           24.400000
153           27.500000
154           28.800000
155           45.500000
156           36.000000

[157 rows x 1 columns]

In [22]:
y.shape

(157, 1)

In [23]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 10)

In [25]:
model = LinearRegression()

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Columns: 197 entries, Sales_in_thousands to Vehicle_type_Passenger
dtypes: float64(12), uint8(185)
memory usage: 43.2 KB

In [27]:
model.fit(x_train,y_train)

LinearRegression()

In [28]:
df

,Sales_in_thousands,__year_resale_value,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,...,Model_Town car,Model_V40,Model_V70,Model_Villager,Model_Viper,Model_Voyager,Model_Windstar,Model_Wrangler,Model_Xterra,Vehicle_type_Passenger
0,16.919,16.360000,21.500000,1.8,140.0,101.2,67.3,172.4,2.639,13.2,...,0,0,0,0,0,0,0,0,0,1
1,39.384,19.875000,28.400000,3.2,225.0,108.1,70.3,192.9,3.517,17.2,...,0,0,0,0,0,0,0,0,0,1
2,14.114,18.225000,27.390755,3.2,225.0,106.9,70.6,192.0,3.470,17.2,...,0,0,0,0,0,0,0,0,0,1
3,8.588,29.725000,42.000000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,...,0,0,0,0,0,0,0,0,0,1
4,20.397,22.255000,23.990000,1.8,150.0,102.6,68.2,178.0,2.998,16.4,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,3.545,27.390755,24.400000,1.9,160.0,100.5,67.6,176.6,3.042,15.8,...,0,1,0,0,0,0,0,0,0,1
153,15.245,27.390755,27.500000,2.4,168.0,104.9,69.3,185.9,3.208,17.9,...,0,0,0,0,0,0,0,0,0,1
154,17.531,27.390755,28.800000,2.4,168.0,104.9,69.3,186.2,3.259,17.9,...,0,0,1,0,0,0,0,0,0,1
155,3.493,27.390755,45.500000,2.3,236.0,104.9,71.5,185.7,3.601,18.5,...,0,0,0,0,0,0,0,0,0,1
156,18.969,27.390755,36.000000,2.9,201.0,109.9,72.1,189.8,3.600,21.1,...,0,0,0,0,0,0,0,0,0,1

In [29]:
y_prediction = model.predict(x_test)

In [30]:
from sklearn.metrics import r2_score

In [31]:
r2_score(y_test, y_prediction)

0.6698049880534045

In [32]:
import pickle

In [33]:
file = open("model.pkl", "wb")

In [34]:
pickle.dump(model,file)

In [35]:
file.close()